.fw-contact {
    a:not(:last-child){
    margin-right: 12px;
    &::after {
        content: "|";
        font-size: 1em;
        margin-left: 10px;
    }
    }
}

.fw-aboutme-contact {
    width: 100%;
    bottom: 25px;
    z-index: 10;
    a {
        color: black;
        z-index: 10;
        &:hover {
            color:  #3F5C12;
        } 
    }
}

.fw-aboutme-bg {
    z-index: 1;
    &::after{
        content: '';
        height: 110%;
        width: 100%;
        position: absolute;
        z-index: 2;
        bottom: 10px;
        right: 20px;
        background-color: rgba(128, 201, 38, 0.25);
    }    
}

.fw-aboutme {
    top: -1.2rem;
    left: 1rem;
    background-color: white;
    padding: 0 0.5rem;
    font-size: 1.5rem;
}

.fw-aboutme-title {
    font-size: 3.5rem;
    z-index: 2;
    &::after{
        content: '';
        width: 210px;
        height: 151px;
        position: absolute;
        z-index: 1;
        bottom: 14px;
        right: 20px;
        background-color: rgba(128, 201, 38, 0.25);
    }
}

.fw-aboutme-decor {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 130, 196, 0.1);
}