.fw-contact {
    a:not(:last-child){
    margin-right: 12px;
    &::after {
        content: "|";
        font-size: 1em;
        margin-left: 10px;
    }
    }
} 

.fw-aboutme-img {
    border-radius: 0;
    width: 100%;
    height: auto;
    opacity: 0.6;
}

.fw-aboutme-container {
    padding: 48px 0 68px 0;
    background-size: cover, cover;
    background-image: linear-gradient(rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4)), url('http://localhost:3000/aboutme.png');
    .fw-aboutme {
        padding: 3rem 1rem 1rem 3rem;
        background-color: rgba(255, 255, 255, 0.7);
        position: relative;
        z-index: 2;
        &::after{
            content: '';
            height: 100%;
            width: 100%;
            position: absolute;
            bottom: -30px;
            right: -20px;
            background-color: rgba(128, 201, 38, 0.4);
            z-index: -1;
        }
    }
}

.fw-aboutme-title {
    font-size: 3.5rem;
}

.fw-aboutme-decor {
    width: 100%;
    height: 100%;
    background-color: rgba(25, 130, 196, 0.1);
}