@import '_workpage.scss';
@import '_aboutmepage.scss';
@import '_resumepage.scss';
@import '_projectpage.scss';

body {
  font-family: 'Roboto', sans-serif;
}

.font-yrsa {
  font-family: 'Yrsa', serif;
}

.font-ptsans {
  font-family: 'PT Sans', sans-serif;
}

.font-rosario {
  font-family: 'Rosario', sans-serif;
}

.font-nunito {
  font-family: 'Nunito', sans-serif;
}

.navbar-brand {
  font-size: 2rem;
}

.bg-orange {
    background-color: #ff595e;
  }
  
  .bg-yellow {
    background-color: #FFCA3A;
  }
  
  .bg-green {
    background-color: #8AC926;
  }
  
  .bg-blue {
    background-color: #1982C4;
  }
  
  .bg-purple {
    background-color: #6A4C93;
  }

  .text-orange {
    color: #ff595e;
  }
  
  .text-yellow {
    color: #FFCA3A;
  }
  
  .text-green {
    color: #8AC926;
  }
  
  .text-blue {
    color: #1982C4;
  }
  
  .text-purple {
    color: #6A4C93;
  }

  .bg-trans-orange {
    background-color: #FFC2C4;
  }
  
  .bg-trans-yellow {
    background-color: #FFEBB7;
  }
  
  .bg-trans-green {
    background-color: #D4EBB0;
  }
  
  .bg-trans-blue {
    background-color: #ABD1E9;
  }
  
  .bg-trans-purple {
    background-color: #C8BDD7;
  }

  
  .text-trans-orange {
    color: rgba(255, 89, 94, 0.7);
  }
  
  .text-trans-yellow {
    color: rgba(255, 202, 58, 0.7);
  }
  
  .text-trans-green {
    color: rgba(128, 201, 38, 0.7);
  }
  
  .text-trans-blue {
    color: rgba(25, 130, 196, 0.7);
  }
  
  .text-trans-purple {
    color: rgba(106, 76, 147, 0.7);
  }

.nav-link {
  color: black;
}

.nav-link.active::before {
  content: '';
  width: 10px;
  height: 16px;
  border-radius: 2px;
  position: absolute;
  bottom: 13px;
  left: -8px;
  @extend .bg-green;
}

.fw-small-logo {
  width: 40px;
  margin-top: -4px;
}
 

.text-dark-blue {
  color: #135F8F;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
}

h2 {
  @extend .font-nunito;
  font-size: 1.5rem;
}

h3 {
  @extend .font-nunito;
  opacity: 0.7;
  font-size: 1.25rem;
}

img {
  border-radius: 10px;
}

a.text-green {
  &:hover {
    color:  #65931C;
}
  &:active {
    color:  #3F5C12;
  } 
}

.fw-square {
  width: 100%;
  padding-bottom: 100%;
}

.fw-reference {
  font-size: 10px;
}

.fw-links a, .fw-links{
  color: #67961E;
}

