.fw-overview-wrapper {
    h1 {
        font-size: 2.5rem;
    }
    .fw-quote {
        margin-top: 36px;
        font-size: 1.2rem;
        font-weight: 300;
        &::before {
            content: "“";
            position: absolute;
            left: -1.2rem;
            top: -2rem;
            color: rgba(128, 201, 38, 0.25);
            font-size: 10rem;
            line-height: 10rem;
            font-family: 'Nunito', sans-serif;
        }
    }
}
h3 {
    @extend .text-green;  
}
.fw-pnc, .fw-dorm {
    .carousel-control-prev div, .carousel-control-next div {
        @extend .bg-trans-green;
        width: 44px;
        height: 44px;
        border-radius: 6px;
        span {
            margin-top: 11px;
        }
    }
}

#dormmobile {
    max-width: 560px;
}

.fw-synthesis-illus {
    max-width: 300px;
}