
.fw-overview-wrapper {
    width: 100%;
    padding-bottom: 42.2%;
    q {
        font-size: 2rem;
        font-weight: 300;
    }
    p {
        font-size: 1.2rem;
    }
}

.fw-pnc {
    .fw-bg {
        background-size: cover, cover;
        background-image: linear-gradient(rgba(25, 130, 196,0.8), rgba(25, 130, 196,0.8)), url('http://localhost:3000/pncmockup.jpeg');
    }

    h3 {
        @extend .text-blue;
    }
    .carousel-control-prev div, .carousel-control-next div {
        @extend .bg-trans-blue;
        width: 44px;
        height: 44px;
        border-radius: 6px;
        span {
            margin-top: 11px;
        }
    }
}