.fw-thumbnail-wrapper {
    width: 100%;
    padding-bottom: 100%;
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .fw-brief {
        max-height: 0;
        overflow: hidden;
        bottom: 0;
        background-color: rgba($color: #fff, $alpha: 0.7);
    }

    img, .fw-brief {
        transition: all 0.5s ease-out;  
    }

    img {
        max-width: 250px;
    }

    &:hover {
        .fw-brief {
            max-height: 100px;
        }
        img {
            transform:scale(1.1);
        }
    }
    p {
        font-size: 14px;
        font-weight: 300;
    }
}

.fw-thumbnail-link {
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
    p.text-center {
        font-size: 1rem;
    }
}

.fw-skillset {
    div {
        height: 160px;
        @media (max-width: 768px) {
            width: 100%;
        }
    }
    p {
        font-size: 2rem;
        font-weight: 900;
        opacity: 0.2;
    }
    span {
        font-size: 1rem;
        opacity: 0.9;
        //text-shadow: 2px 2px 1px #dedede;
    }
    .fw-skills-a {
        top: 0.8rem;
        right: 1rem;
    }
    .fw-skills-b {
        bottom: 0.8rem;
        left: 1rem;
    }
}
