.fw-thumbnail-wrapper {
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .fw-brief {
        max-height: 0;
        overflow: hidden;
        bottom: 0;
        background-color: rgba($color: #8AC926, $alpha: 0.3);
        border-radius: 0 0 10px 10px;
    }

    img, .fw-brief {
        transition: all 0.5s ease-out;  
    }

    img {
        max-width: 250px;
        max-height: 250px;
    }

    &:hover {
        .fw-brief {
            max-height: 100px;
        }
        img {
            transform:scale(1.1);
        }
    }
    p {
        font-size: 14px;
        font-weight: 300;
    }
    .fw-thumbnail-bg {
        border-radius: 10px;
        background-color: #f5f5f5;
    }
}

.fw-thumbnail-link {
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
    p.text-center {
        font-size: 1rem;
    }
}

.fw-skillset {
    height: 160px;
    div {
        width: 50%;
        @media (max-width: 992px) {
            width: 100%;
        }
    }
    p.font-nunito {
        font-size: 1.5rem;
        font-weight: 900;
        opacity: 0.2; 
    }
    .fw-skills {
        position: relative;
        font-size: 1rem;
        &::after {
            position: absolute;
            content: '';
            width: 277px;
            height: 1em;
            border-radius: 3px;
        }
    }
    .fw-skills-a::after {
        right: 0;
        top: 0.7rem;
        background-color: rgba(255, 89, 94, 0.2);
    }

    .fw-skills-b::after {
        left: 0;
        top: -0.2rem;
        background-color: rgba(25, 130, 196, 0.2);
    }
}

.bg-scrabble {
    background-size: cover;
    background-image: url('http://fangweisarah.com/scrabble.png');
}
