.fw-thumbnail-wrapper {
    span {
        display: inline-block;
        height: 100%;
        vertical-align: middle;
    }

    .fw-brief-green {
        background-color: rgba($color: #8AC926, $alpha: 0.3);  
    }

    .fw-brief-white {
        background-color: rgba($color: white, $alpha: 0.5); 
    }

    .fw-brief {
        max-height: 0;
        overflow: hidden;
        bottom: -2px;
        &.last-brief {
            bottom: 0;
        }
    }

    img, .fw-brief {
        transition: all 0.5s ease-out;  
    }

    img {
        max-width: 250px;
        max-height: 250px;
    }

    &:hover {
        .fw-brief {
            max-height: 100px;
        }
        img {
            transform:scale(1.1);
        }
        .fw-thumbnail-title {
            opacity: 0;
        }
    }

    .fw-thumbnail-title {
        bottom: 1rem;
        left: 0;
        right: 0;
        margin: auto;
        transition: opacity 0.5s ease-out;
    }

    p {
        font-size: 14px;
        font-weight: 300;
    }
    .fw-thumbnail-bg {
        background-color: white;
    }
}

.fw-thumbnail-link {
    color: black;
    &:hover {
        text-decoration: none;
        color: black;
    }
    p.text-center {
        font-size: 1rem;
    }
}

.bg-scrabble {
    background-size: cover;
    background-image: url('http://fangweisarah.com/scrabble.png');
}

.fw-wp-bg {
    background: linear-gradient(to bottom, #8AC926 0%,#8AC926 15%,#f5f5f5 15%,#f5f5f5 100%);
    @media (min-width: 576px) {
        background: linear-gradient(to bottom, #8AC926 0%,#8AC926 28%,#f5f5f5 28%,#f5f5f5 100%);
    }
}

.fw-projects-container {
    background-color: white;
}

.fw-thumbnail-container {
    box-sizing: border-box;
    width: 100%;
    border-bottom: 2px solid #f5f5f5;
    @media (min-width: 576px) {
        width: 50%;
        &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7) {
            border-right: 2px solid #f5f5f5;
        }
    }
    @media (min-width: 992px) {
        width: 33.33%;
        &:nth-child(3) {
            border-right: 0;
        }
        &:nth-child(1), &:nth-child(2), &:nth-child(4), &:nth-child(5), &:nth-child(7), &:nth-child(8) {
            border-right: 2px solid #f5f5f5;
        }
    } 
}

.fw-skills {
    max-width: 408px;
    p:nth-child(2), p:nth-child(4) {
        font-size: 1.16rem;
        font-weight: 500;
    }
    p:nth-child(1), p:nth-child(3) {
        opacity: 0.8;
        color: #f5f5f5;
    } 
}
