.artx-jackpot-percent {
    box-sizing: content-box;
    height: 20px;
    div:first-child {
        border-radius: 2px 0 0 3px;
    }
    div:last-child {
        border-radius: 0 3px 3px 0;
        margin-left: 2px;
    }
}

.artx-header {
    top: 0;
    left: 0;
}

.artx-explaination {
    max-width: 430px;
}

.artx-eth-s {
    width: 1rem;
    height: 1.67rem;
}

.artx-eth-m {
    width: 1.5rem;
    height: 2.5rem;
}

.artx-jackpot-status {
    max-width: 300px;
}

.artx-rule {
    margin-top: 176px;
    margin-bottom: 110px;
    p {
        max-width: 570px;
    }
}