.artx-bid-container  {
    width: 800px;
    z-index: 2;
    top: 50px;
    left: 0;
    border-radius: 20px;
    padding: 5px;
    .artx-gradient-inner {
        border-radius: 0 0 15px 15px;
        .artx-bid-input {
            border-width: 0 0 3px 0;
            @extend %inputBorder;
        }
        .artx-bid-input-s {
            border-width: 0 0 2px 0;
            @extend %inputBorder;
        }
    
        .artx-subscribe-input {
            max-width: 324px;
            height: 42px;
            border-radius: 5px;
            border: solid 1px transparent;
            border-image: linear-gradient(95deg, #43d7a7, #ad5ef3);
            border-image-slice: 1;
            input {
                background-color:  transparent;
            }
        }
    }
}

.artx-progress-bar {
    border-radius: 0 15px 0 0;
    height: 20px;
    transition: width 0.5s ease-in-out;
    background-color: #0e0525;
}

%inputBorder {
    border-style: solid; 
    border-color: white; 
    background-color: transparent;
}

.artx-icon-btn {
    border: 0;
    background-color: transparent;
}

.artx-shares-btn {
    button {
        border: 0;
        border-radius: 5px;
        background-image: linear-gradient(112deg, #43d7a7, #ad5ef3);
        padding: 2px;
        &>span {
            background-color: #0e0525;
            border-radius: 3px; 
        }
    }
}

.artx-refer-popup {
    input {
        border-width: 0 0 1px 0;
        @extend %inputBorder;
        width: 300px;
    }
}

.artx-bid-content {
    max-width: 600px;
}

.art-play-container {
    max-width: 520px;
    z-index: 2;
    top: 50px;
    left: 0;
    border-radius: 50px;
    padding: 5px;
    .artx-gradient-inner {
        border-radius: 45px;

    }
}