.artx-subscribe-form {
    max-width: 542px;
    padding-bottom: 130px;
    input::placeholder {
        color: white;
        opacity: 0.7;
        font-size: 1.25rem;
    }
    input {
        border-radius: 3px 0 0 3px;
        background-color:  #000549;
    }
    button {
        flex: 0 0 auto;
        background-color: transparent;
    }
    .artx-subscribe-input {
        height: 60px;
    }
}